@charset 'UTF-8';
@import './lib/reset';
@import '_vars';

@import './partials/header';
@import './partials/footer';
@import './partials/overview';
@import './partials/card-parrilla';
@import './partials/copy';

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
