footer.footer
  div.u-wraper
    div.footer__company
      div.company__column
        h2.company__text Company
        nav.company__footer-nav
          ul.footer-nav__list
            li.list__item
              a(href="http://", target="_blank").item__link FAQ
            li.list__item
              a(href="http://", target="_blank").item__link About Us
            li.list__item
              a(href="http://", target="_blank").item__link Support
      div.company__column
        h2.company__text Legal
        nav.company__footer-nav
          ul.footer-nav__list
            li.list__item
              a(href="http://", target="_blank").item__link Terms of Serice
            li.list__item
              a(href="http://", target="_blank").item__link Privacy Policy
    div.disclaimer
        h3.disclaimer__text Important Disclaimer
        p.disclaimer__p This website and the contents herein do not constitute as any financial advice, investment advice or solicitation for the purposes of making financial investments or real estate transactions in Singapore or other territories. Ethis Pte. Ltd. is a firm specialising in the matching of opportunities to members of its private investment club named Club Ethis. With regard to these opportunities, the need and onus to do due diligence lies squarely with our members as we do not profess to advise on the same. All dealings and transactions are directly with the businesses, project owners or authorized agents we refer to our members. Ethis Pte. Ltd. is not registered under the Securities & Futures Act of Singapore or the Financial Advisor's Act under the Monetary Authority of Singapore and thus cannot solicit and mange funds from the public. In relation to real estate transactions, we state that we are not and do not carry out the business of estate agencies nor do we act as estate agents for our members. Where necessary and relevant, we may match our members to estate agents and professionals in the relevant jurisdiction where there may be potentially good returns. This is part of the services provided to Club Ethis members in our role as introducers and business-matching specialists. Club Ethis members may also be offered Real Estate opportunities in Indonesia by PT Ethis Indo Asia, which is a Singapore-owned Real Estate Development and Investment company registered and licensed in Indonesia.          
          
      
