header.header
  div.u-wraper
    div.header-logo-nav
      div.header__logo
        h1.logo__text Ethis
        img(src="images/logo.png", alt="").logo__img
      nav.header__nav
        ul.nav__list
          li.list__item
            a(href="http://", target="_blank").item__link Sign In
          li.list__item.list__item--btn
            a(href="http://", target="_blank").item__link Get Started
          
      
