@import '../_vars';

header{
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $green;
    display: flex;
    @at-root{
      .u-wraper{
          max-width: 1200px;
          width: 90%;
          margin: 0 auto;
      }
    }
    .header__logo{
      .logo__text{
        text-indent: -999px;
      }
      .logo__img{
        position: relative;
        top:-10px;
      }
    }
    .header-logo-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav__list{
        .list__item{
          display: inline-block;
          .item__link{
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-family: $raleway-medium;
            font-weight: 500;
            margin: 10px 20px;
            .item__link--btn{
              color: $green;
              background-color: white;
            }
          }
        }
        .list__item--btn{
          margin-left:.8em;
          padding:.5em;
          font-size:16px;
          box-sizing:border-box;
          background:white;
          border-radius: 25px;
          line-height:20px;
          .item__link{
            color:$green;
          }
        }
      }
    }
}
