div.card-project
  div.card-project__header
    h2.header__title Project Location
  div.card-project__map
    iframe(width="100%" height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36015958.18612256!2d100.75070797326173!3d7.523716791753316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31c914f0feaf4ed3%3A0x1c83565c30614404!2sJerantut%2C+Pahang%2C+Malaysia!5e0!3m2!1sen!2s!4v1456495960237").location__map 
