head
  title Ethis | Islamic Property Crowdfunding - Accessible property investment for everyone
  meta(charset="UTF-8")  
  link(href='https://fonts.googleapis.com/css?family=Raleway:400,500', rel='stylesheet', type='text/css')
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
  link(href='css/styles.min.css', rel='stylesheet')
  meta(name='author', content='@jdreyespaez')
  meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(name='description', content='Islamic Property Crowdfunding - Accessible property investment for everyone')
    
