div.card.card--big
  div.card__header
    h2.header__title Detailed Description
  div.card__content
    p In December 2014, a few Malaysian states on the east coast were hit by devastating floods, resulting is the tragic loss of lives and property. The Public Works Department Malaysia (JKR), along with other public departments have implemented numerous projects to help these victims rebuild their lives.
    p Qayz Holdings Sdn Bhd (Qayz) has been awarded a Construction Work Order to build 10 low-cost bungalows in Jerantut in the state of Pahang for a few of the families who lost their homes.
    p These houses will be built using a new and advanced method called IBS (Integrated Building System), which uses special interlocking bricks. This brings many benefits to these families, as it has stronger lateral resistance to any future flooding, as well as additional benefits including better heat insulation, fire-retardation and is also environmentally-friendly.
    p JKR has awarded this project and confirmed all technical details with Qays and will be issuing the final Indent document on Wednesday, 10th February 2016. Qays is given a target of 55 days to complete the 10 bungalows, which is highly achievable due to the speed of constructing with the special bricks. Qays had build similar houses in the past within one month. The terrain and location of the current project may however result in a longer construction period.
    p The project start date will also be on Wednesday, and Qays has agreed to receive transfers only when the Indent is received from JKR.
    h3.content__char Profit-Sharing Arrangement 
    p The development profits of the project will be shared with Ethis Crowd-investors, at an agreed percentage of 16% of project profits, which works out to the projected 4.25% return on capital. The Project Value from JKR is fixed, and Qays has also produced a conservative budget based on past experience. However, should there be any delays, the profit-share for investors will not increase.
    h3.content__char Mitigation of Risks
    p Payment: 
    p - JKR is a federal body under the Ministry of Works Malaysia (KKR). It will make payments directly to Qays as the Main Contractor.
