div.card-project.card--big
  div.card-project__header
    h2.header__title Developer's Profile
  div.card-project__content
    p.content__paragraph Qayz Holdings (M) Sdn Bhd is a wholly-owned Bumiputera company which was established in 2012 according to the Business Registration Act 1965 under the Companies Commission of Malaysia (SSM). It is a construction and development company registered with the Construction Industry Development Board (CIDB).
    p.content__paragraph In its early stages, the company took up the construction of buildings, homes, and structures such as swimming pools and landscaping works. In early 2014, the company expanded its business into property developments after buying and taking over a housing project.
    p.content__paragraph The main strength and key differentiation of the company is its unique expertise in using IBS Interlocking Bricks, which provides many advantages both for the contractor as well as the home owner.
    h3.content__char Business Information
    p.content__paragraph Registered Address : B2-2, Block B, Bella Vista, Jalan Cahaya 12, Taman Cahaya, 68000 Ampang, Selangor Darul Ehsan 
