div.location-card
  div.location-card__header
    h2.header__title Project Location
  div.location-card__map
    iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3976.462832216542!2d-74.07049890290226!3d4.689344871690985!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ab4e39cf2fd7eb7!2sCoasmedas!5e0!3m2!1sen!2s!4v1413214716361").location__map 
