div.overview
  div.overview__image
    img.image__background(src="images/overview@2x.png")
  div.card.card--overview
    div.card__header
      h2.header__name Pahang Homes for Flood Victims
      h3.header__address Jerantut, Pahang, Malaysia
    div.card__description
      div.description__money
        h2.money__raised MYR 100,000
        h3.money__goal raised out of MYR 100,000
      div.description__data
        ul.data__list
          li.list__item
            span.item__left
              img(src="images/iconaffordable.svg" alt="").left__img
            span.item__right Affordable Housing
          li.list__item
            span.item__left 4.25%
            span.item__right Project Returns 
              h6.item__right__note Based on profit sharing 
          li.list__item
            span.item__left 3.5
            br
            |months
            span.item__right Project Timeline
    div.card__status 
      div.status__bar
          h2.status__progress 100% FUNDED - Project in progress    
  div.overview__footer
    .overview__footer__item
      img.item__img(src="", alt="")
      span.item__text Details
    .overview__footer__item
      img.item__img(src="", alt="")
      span.item__text Pictures & Videos

    
