div.card
  div.card__header
    h2.header__title Summary
  div.card__content
    ul.content__data
      li.data__item
        span.item__char Brief:
        span.item__info Public Works Departament Malaysia (JKR) in Constructing 10 bungalows for flood Victims.
      li.data__item
        span.item__char Main Contractor:
        span.item__info Qays Holdings (M) Sdn Bhd.        
      li.data__item
        span.item__char Buyers:
        span.item__info No sale involved.
      li.data__item
        span.item__char Payment:
        span.item__info Direct payment from JKR.        
      li.data__item
        span.item__char Total Crowdfunding:
        span.item__info MYR 100.000
      li.data__item
        span.item__char Total Project Value:
        span.item__info MYR 670.000  
    h3.content__campaign-number Campaign 1
    ul.content__campaign-chars
      li.campaign-chars__list
        span.list__char Starting Data:
        span.list__info 17th Dec 2015
      li.campaign-chars__list
        span.list__char Closing Data:
        span.list__info 11th Feb 2016
      li.campaign-chars__list
        span.list__char Target:
        span.list__info MYR 100,000      
      li.campaign-chars__list
        span.list__char Projected Profit:
        span.list__info 4.25%
