html
  include ./partials/head.jade
  body
    main.main
      div.wraper
        include ./partials/header.jade
        div.copy
          h1.copy__title Property Investment 2016
          p.copy__tag-line These properties in Malaysia and Indonesia  have been carefuly vetted and approved be credible property developers. 
    include ./partials/footer.jade
