html
  include ./partials/head.jade
  body
    main.main
      div.wraper
        include ./partials/header.jade
        include ./ui/overview.jade
        include ./ui/summary.jade
        include ./ui/pictures.jade
        include ./ui/description.jade
        include ./ui/calculator.jade
        include ./ui/location.jade
        include ./ui/dev-profile.jade
    include ./partials/footer.jade
